@import "tailwindcss";

@theme {
  --color-brand-50: #f5eefc;
  --color-brand-100: #eadcf9;
  --color-brand-200: #d5b9f3;
  --color-brand-300: #c196ed;
  --color-brand-400: #ac73e7;
  --color-brand-500: #9e14df;
  --color-brand-600: #8e12c9;
  --color-brand-700: #7e10b2;
  --color-brand-800: #6e0e9c;
  --color-brand-900: #5e0c85;
  --color-brand-950: #4e0a6f;
}

/* Enable class-based dark mode for Tailwind v4 */
@variant dark (&:where(.dark, .dark *));
